{% include '@SyliusUi/_flashes.html.twig' %}
<div class="ui segment">
    {{ form_start(form, { 'action': path('nordcode_sylius_taxon_filter_plugin_admin_ajax_taxon_filter_edit', { 'id': resource.id }),'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
    <input type="hidden" name="_method" value="PUT"/>
    {% if configuration.vars.templates.form is defined %}
        {% include configuration.vars.templates.form %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}

    <div class="ui basic segment">
        <div class="ui buttons">
            <button class="ui labeled icon primary button" type="submit" id="modal_save_changes_button"><i
                        class="save icon"></i> {{ 'sylius.ui.save_changes'|trans }}</button>
        </div>
    </div> {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
