{% extends '@SyliusAdmin/layout.html.twig' %}

{% set definition = resources.definition %}
{% set data = resources.data %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% block content %}

    <div class="ui stackable two column grid">
        {% include '@NordcodeSyliusTaxonFilterPlugin/TaxonFilter/Index/_header.html.twig' %}
        {% include '@SyliusAdmin/Crud/Index/_actions.html.twig' %}
    </div>


    <div class="ui two column stackable grid">
        {% set params =  {'template': '@NordcodeSyliusTaxonFilterPlugin/TaxonFilter/_taxonTreeWithoutButtons.html.twig' } %}
        {% if app.request.get('taxonId') %}
            {% set params = params|merge({'taxonId' : app.request.get('taxonId')}) %}
        {% endif %}
        <div class="three wide column">
            {{ render(path('sylius_admin_partial_taxon_tree', params)) }}
        </div>
        <div class="thirteen wide column taxon-attribute-index">

            {% include '@SyliusAdmin/Crud/Index/_content.html.twig' %}
        </div>
    </div>
    <div class="ui modal long edit-ranges">
        <i class="close icon"></i>
        <div class="header">{{ 'sylius.ui.edit'|trans }}</div>
        <div class="scrolling content edit-ranges-content"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        (function ($) {
            $(document).ready(function () {
                $('.sylius-update-positions').movePositions($('.app-resource-position'));
            });
            $.fn.extend({
                movePositions: function (positionInput) {
                    const resourceIds = [];
                    const element = $(this);

                    element.api({
                        method: 'PUT',
                        beforeSend: function (settings) {
                            settings.data = {
                                positions: resourceIds,
                                _csrf_token: element.data('csrf-token')
                            };

                            return settings;
                        },
                        onSuccess: function (response) {
                            location.reload();
                        }
                    });

                    positionInput.on('input', function () {
                        const id = $(this).data('id');
                        const rowToEdit = resourceIds.filter(function (resource) {
                            return resource.id == id;
                        });

                        if (rowToEdit.length == 0) {
                            resourceIds.push({
                                id: $(this).data('id'),
                                position: $(this).val(),
                            });
                        } else {
                            rowToEdit[0].position = $(this).val();
                        }
                    });
                }
            });
        })($);
        (function ($) {
            $(document).ready(function () {
                $('.sylius-taxon-attribute-toggle').toggleStatus();
                $('.taxon-toggle-status').toggleTreeStatus('enabled');

                $('.taxons .accordion')
                    .accordion({
                        selector: {
                            trigger: '.title .icon',
                        },
                    });
            });

            $.fn.extend({
                toggleStatus() {
                    $(this).api({
                        method: 'POST',
                        on: 'click',
                        beforeSend(settings) {
                            var element = $(this);
                            if (element.data('enabled') == '0') {
                                settings.data = {
                                    enabled: true,
                                };
                            } else {
                                settings.data = {};
                            }

                            return settings;
                        },
                        onSuccess: function (response) {
                            var element = $(this);
                            var indicator = element.closest('tr').find('.nrdc-enabled-indicator');

                            var enabledHtml = '<span class="ui teal label"><i class="checkmark icon"></i>{{ 'sylius.ui.enabled'|trans }}</span>';
                            var disabledHtml = '<span class="ui red label"><i class="remove icon"></i>{{ 'sylius.ui.disabled'|trans }}</span>';

                            var enableButtonHtml = '<i class="icon checkmark"></i>{{ 'sylius.ui.enable'|trans }}';
                            var disableButtonHtml = '<i class="icon remove"></i>{{ 'sylius.ui.disable'|trans }}';

                            // Invert previous 'enabled' value
                            var enabled = element.data('enabled') != '1';

                            if (enabled) {
                                indicator.html(enabledHtml);
                                element.data('enabled', '1');
                                element.html(disableButtonHtml);
                            } else {
                                indicator.html(disabledHtml);
                                element.data('enabled', '0');
                                element.html(enableButtonHtml);
                            }
                        }
                    });
                },
                toggleTreeStatus: function (property, enabledClass = 'eye', disabledClass = 'ban') {
                    $(this).api({
                        method: 'POST',
                        on: 'click',
                        beforeSend: function (settings) {
                            if ($(this).data('enabled') == '1') {
                                settings.data = {
                                    [property]: true
                                };
                            }
                            ;

                            return settings;
                        },
                        onSuccess: function (response) {
                            var icon = $(this).find('.icon');
                            var element = $(this);
                            var enabled = element.data('enabled');
                            if (enabled == '1') {
                                icon.removeClass(disabledClass).addClass(enabledClass);
                            } else {
                                icon.removeClass(enabledClass).addClass(disabledClass);
                            }
                            element.data('enabled', enabled == '0' ? '1' : '0');
                        }
                    });
                }
            })
        })($);
    </script>
{% endblock %}
