{% import '@SyliusAdmin/Macro/breadcrumb.html.twig' as breadcrumb %}

{% if taxon is defined %}
    {% set breadcrumbs = [
        { label: 'sylius.ui.administration'|trans, url: path('sylius_admin_dashboard') },
        { label: 'nordcode_sylius_taxon_filter_plugin.ui.taxon_filters'|trans, url: path('nordcode_sylius_taxon_filter_plugin_admin_taxon_filter_per_taxon_index') },
        { label: taxon.name },
    ]
    %}
{% else %}
    {% set breadcrumbs = [
        { label: 'sylius.ui.administration'|trans, url: path('sylius_admin_dashboard') },
        { label: 'nordcode_sylius_taxon_filter_plugin.ui.taxon_filters'|trans },
    ]
    %}
{% endif %}

{{ breadcrumb.crumble(breadcrumbs) }}
