{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% set taxonId = app.request.attributes.get('taxonId') %}
{% if taxonId is not null and taxonId != 0 %}
    {{ render(url('sylius_admin_partial_taxon_show', {
        'id': app.request.attributes.get('taxonId'),
        'template': '@NordcodeSyliusTaxonFilterPlugin/TaxonFilter/Index/_taxonHeader.html.twig',
        'vars': configuration.vars
    })) }}
{% else %}
    <div class="column">
        {% set header = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}
        {{ headers.default(header|trans, configuration.vars.icon|default('filter'), configuration.vars.subheader|default('sylius.ui.manage_taxon_filters')|trans) }}

        {% include configuration.vars.templates.breadcrumb|default('@NordcodeSyliusTaxonFilterPlugin/TaxonFilter/Index/_breadcrumb.html.twig') %}
    </div>
{% endif %}
