{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

<div class="column">
    {{ headers.default(taxon.name, configuration.vars.icon|default('filter'), configuration.vars.subheader|default('sylius.ui.manage_taxon_translations')|trans) }}

    {% include configuration.vars.templates.breadcrumb|default('@NordcodeSyliusTaxonFilterPlugin/TaxonFilter/Index/_breadcrumb.html.twig') %}
</div>
