{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set route = options.link.route %}
<a class="ui labeled icon button" href="{{ path(route, {taxonId: options.link.taxonId|default(null) }) }}">
    {{ 'sylius.ui.generate' | trans }}
    <i class="icon cogs"></i>
</a>
