{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set toggleValue = 0 %}
{% set label = 'sylius.ui.enable' %}
{% set icon = 'checkmark' %}
{% if options.link.parameters.enabled %}
    {% set toggleValue = 1 %}
    {% set label = 'sylius.ui.disable' %}
    {% set icon = 'remove' %}
{% endif %}

<a class="ui labeled icon button sylius-taxon-attribute-toggle" data-url="{{ path(options.link.parameters.route, { id: options.link.parameters.id }) }}" data-id="{{ options.link.parameters.id }}" data-enabled="{{ toggleValue }}">
    <i class="icon {{ icon }}"></i>
    {{ label|trans }}
</a>
