<form class="sylius-update-positions" action="{{ path(options.link.route) }}"
      data-csrf-token="{{ csrf_token('update-position') }}">
    <button class="ui labeled loadable icon button sylius-save-position" type="submit">
        <i class="icon save"></i>
        {{ 'sylius.ui.save_positions'|trans }}
    </button>
</form>
